@use "../custom" as *;

#loading-spinner {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgba($white, 0.8);
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.4s ease;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}
