@use "./custom";

// Import the page styles
@use "./pages/admin";
@use "./pages/login";
@use "./pages/activityLogs";

// Import the component styles
@use "./components/sidebar";
@use "./components/table";
@use "./components/forms";
@use "./components/spinner";
@use "./components/animations";
@use "./components/media";
@use "./components/chatbot";