@use "../custom" as *;

.about {
    // background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../../static/images/about-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $night-rider;

    h2 {
        color: inherit;
    }

    // .title {
    //     text-align: left;
    // }

    ul {
        padding-left: 25px;

        li {
            list-style-type: disc;
        }
    }

    &-left {

        img {
            width: 80%;
            margin: 0 auto;
        }
    }

    &-right {
        margin-top: 4rem;
    }

    &-item {
        margin: 1.4rem 0;
        display: flex;
        flex-direction: column;

        h2 {
            margin-top: 0;
            font-size: 1.4rem;
            font-weight: 300;
            opacity: 0.85;
        }

        span {
            font-size: 1.1rem;
            color: $white;
            background: $mount-meadow;
            align-self: flex-start;
            padding: 0.4rem 0.7rem;
            border-radius: 2px;
            margin-right: 1.4rem;
        }

        #heading {
            display: flex;
            margin-bottom: 10px;
        }
    }
}