@use "../custom" as *;

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 120px;
    height: 100vh;
    padding: 0 0.5rem;
    color: $white;
    overflow: hidden;
    transition: all 0.5s linear;
    background: $accent;

    .label {
        opacity: 0;
    }

    &:hover {
        width: 240px;

        .label {
            opacity: 1;
        }
    }

    .logo {
        position: absolute;
        top: 20px;
        left: 10px;
        width: 100px;
        height: 100px;

        img {
            width: 100%;
        }
    }

    .menu {
        height: 88vh;
        position: relative;
        list-style: none;
        padding-top: 100px;

        li {
            padding: 1rem;
            margin: 8px 0;
            border-radius: 8px;

            &:hover {
                background: rgba($gray-400, 0.6);
            }

            a {
                color: $white;
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 1.5rem;

                i {
                    font-size: 1.2rem;
                }
            }
        }

        .active {
            background: rgba($gray-400, 0.8);
            border-left: 4px solid $white;
        }

        .logout {
            position: absolute;
            bottom: 0;
            left: 0;
            // width: 100%;
        }
    }
}