@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import "../node_modules/bootstrap/scss/bootstrap.scss";

$accent:     #3b82f6;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.5s ease-in-out;
}

body {
    background-color: $gray-100;
}

.nowrap {
    white-space: nowrap;
}

.display-msg {
    color: $white;
    font-weight: 600;
    position: absolute;
    top: 0;
    padding: 10px;
    width: 100%;
}

.error {
    background-color: red;
}

.success {
    background-color: rgb(0, 255, 0);
}