@use "../custom" as *;

#admin {
    display: flex;
    background: $gray-100;
    color: $dark;
    min-height: 100vh;
}

main {
    flex: 1;
    margin-left: 120px; // default sidebar width
    padding: 2rem;
    transition: margin-left 0.5s ease;

    // When sidebar expands
    #sidebar:hover + & {
        margin-left: 240px;
    }

    h1 {
        font-weight: 700;
        margin-bottom: 2rem;
    }

    // Scroll behavior
    overflow-y: auto;
    max-height: 100vh;
}
