// PULSE BORDER

@keyframes pulse-border {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes phase-in {
    0% {
        opacity: 0;
        transform: scale(2.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.hero-title, .hero-subtitle, .hero-buttons {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp .9s ease-out forwards;
}

.hero-title {
    animation-delay: .2s;
}
.hero-subtitle {
    animation-delay: .4s;
}
.hero-buttons {
    animation-delay: .6s;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero {
    animation: bgZoom 12s ease-in-out forwards;
}

@keyframes bgZoom {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}

.fade-in {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
    transition:
        opacity 0.8s ease-out,
        transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0) scale(1);
}