@use "../custom" as *;

.btn {
    padding-left: 7px;
    height: 43px;
    border-radius: 20px;
    outline: 1px solid $mount-meadow;
    display: flex;
    max-width: 190px;
    justify-content: space-between;
    align-items: center;
    color: $mount-meadow;
    transition: $transition;
    font-weight: 500;


    span {
        height: 100%;
        width: 43px;
        background-color: $mount-meadow;
        color: $white;
        border-radius: 20px;
        display: grid;
        place-content: center;
    }

    &:hover {
        background-color: $mount-meadow;
        outline: 1px solid $mount-meadow;
        color: $white !important;
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
        // transition: .3s ease-in-out;

        span {
            background-color: $white;
            color: $mount-meadow;
        }
    }

    &-primary {
        background-color: $mount-meadow;
    }
}

.back-to-top {
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    right: 1.875rem;
    bottom: 1.875rem;
    z-index: 9999;
    display: grid;
    place-content: center;
    text-decoration: none;
    border-radius: 50%;
    box-shadow: 0 0 1px $night-rider;
    transition: $transition;

    i {
        color: $white;
        font-size: 1rem;
    }
}