@use '../custom' as *;

@mixin transitionProperty {
    transition-duration: 800ms;
    transition-property: all;
}

@mixin heavyShadowEffect {
    box-shadow: 0 6px 20px $black;
}

@mixin lightShadowEffect {
    box-shadow: 0 1px 2px $black;
}

@mixin heavyTextShadowEffect {
    text-shadow: 0px 6px 6px $black;
}

@mixin lightTextShadowEffect {
    text-shadow: 2px 4px 5px $black;
}

@mixin headerFontSize {
    font-size:  min(20vw, 2.8rem);
}

@mixin subHeaderFontSize {
    font-size: min(15vw, 2rem);
}

@mixin optimalFontSize {
    font-size: clamp(1rem, 2.2vh, 1.5rem);
}