.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);

  .modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 1rem;
    border-radius: 10px;
    width: 90%;
    max-width: 700px;
    position: relative;
  }

  .modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
  }

  #product-carousel img {
    width: 100%;
    border-radius: 10px;
  }
}
