@use "../custom" as *;

.hero-bg {
    background-image: linear-gradient(to left, $mount-meadow, $night-rider);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    color: $white;
    padding: 3rem 1.5rem;
    padding-top: 6rem;
    text-align: center;

    &__header {
        h1 {
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
        }

        .subtitle {
            font-size: 1.2rem;
            font-weight: 300;
        }
    }
}