@use "../custom" as *;

$gray: #374151;
$link-color: #c7c7c7ff;

#toggleSidebar {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1001;
    background: $accent;
    border: none;
    color: $white;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: linear-gradient(180deg, #1f2937, darken(#1f2937, 5%));
  color: $white;
  transition: left 0.3s ease;
  // padding-top: 60px;
  padding: 60px 5px 0;
  z-index: 1000;

  h3 {
    color: $white;
    text-align: center;
    margin-bottom: 2rem;

    span {
      display: block;
      font-size: 2rem;
      margin-bottom: 0.6rem;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 15px 20px;
      border-bottom: 1px solid $gray;

      &:first-child {
        border-top: 1px solid $gray;
      }

      a {
        color: $link-color;
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: all ease-in-out 0.3s;

        &:hover {
          color: $accent;
          scale: 1.1;
        }

        i {
          margin-right: 10px;
        }
      }
    }
  }
}

.sidebar.show {
    left: 0;
}